


<div class="jumbotron">
  <h3>XVIII Curso Actualización en el Diagnóstico y Tratamiento de la
    Tuberculosis en el Niño y el Adulto</h3>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
